.mainContain .progresoGeneral{
    background-image: url(../assets/general/home/fondoporcentaje.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    justify-content: flex-end;
    text-align: end;
    right: 0;
    padding-right: 10px;
}
.mainContain .progresoGeneral .progreso{
    color: #fff;
}
.mainContain .progresoGeneral .signo{
    width: auto;
}
.mainContain .progresoGeneral .texto{
    color: #fff;
}
.mainContain .regresar-islas{
    position: absolute;
    left: 15px;
    bottom: 55px;
    background-image: url(../assets/general/home/regresar_isla.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    height: 140px;
    z-index: 1;
}
body.regresar .mainContain .regresar-atras{
    position: absolute;
    background-image: url(../assets/general/home/atras.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 50px;
    z-index: 1;
    bottom: 55px;
    left: 0;
    right: 0;
    margin: auto;

}
body.regresar .mainContain .regresar-atras:hover{
    background-image: url(../assets/general/home/atras_press.png);
}
.mainContain .regresar-islas:hover{
    background-image: url(../assets/general/home/regresar_isla_press.png);
}
.plecaContain .instrucciones .img.ejemplo1{
    background-image: url(../assets/general/home/popup/360_1.gif);
}
.plecaContain .instrucciones .img.ejemplo2{
    background-image: url(../assets/general/home/popup/360_2.gif);
}
.mainContain .bottomMenu{
    display: none;
}

.a-loader-title {
    color: #fff;
    background-color: #fff;
}