body{
    overflow: hidden;
}
body, *{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 

}
.loadContain{
    display: flex;/* Demo */
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 20;
}
.loadContain .contain{
    position: absolute;
    width: 100%;
    height: 100%;
    /* top: -100%; */
    left: 0;
    background-color: #eeece0;
    background-size: initial;
    background-image: url(../assets/general/home/popup/menu/patron.png);
}
.loadContain .pleca{
    background: linear-gradient(450deg, rgba(96,204,203,0) 0%, rgba(207,131,42,1) 60%, rgba(96,204,203,0) 100%);
    width: 100%;
    height: 30%;
    opacity: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
}
.loadContain .pleca .aros{
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    transform: scale(0);
}
.loadContain .pleca .aros .aroBig{
    background-image: url(../assets/general/loading/aro-big.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 90%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.loadContain .pleca .aros .aroSmall{
    background-image: url(../assets/general/loading/aro-big.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 30%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.loadContain .pleca .line{
    /* width: 25%; */
    height: 1px;
    border: 2px dashed rgb(255 255 255 / 60%);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
.loadContain .pleca .line.right{
    right: 0;
}
.loadContain .logo{
    background-image: url(../assets/general/loading/logo.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 85px;
    bottom: 5%;
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}